<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "movies/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "movies/css/bootstrap-responsive.min.css" %}"/>
        <script type="text/javascript" src="{% static "movies/js/bootstrap.min.js" %}"></script>
    </head>

    <body role="document">
        <br>
        {% if top_movies_list %}
            <table align="center" style="width: auto;" class="table table-striped table-bordered">
                <thead>
                    <tr style="font-size: 24px;">
                        <th>Ranking</th>
                        <th>Title (Original title)</th>
                        <th>Rating</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in top_movies_list %}
                    <tr style="font-size: 20px;">
                        <td>{{ movie.ranking }}</td>
                        <td>
                            <b>{{ movie.title }}</b>
                            {% if movie.original_title %}
                                ({{ movie.original_title }})
                            {% endif %}
                        </td>
                        <td>{{ movie.vote_average }}</td>
                        <td align="center">
                            <a type="button" class="btn btn-sm btn-info" href="movies/{{ movie.id }}">
                                <span class="glyphicon glyphicon-film"></span> More...</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1 align="center">Could not fetch data from the database.</h1>
        {% endif %}
    </body>



