<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "movies/css/bootstrap.min.css" %}"/>
        <style type="text/css">
            p { margin-top: 40px; text-indent: 40px; }
            h2{ float: left; }
            h2.rating { float: right; color: #A7C942; font-weight: bold; margin-right: 80px; }
        </style>
    </head>

    <body role="document">
        {% if movie %}
            <div class="jumbotron">
                <div class="container">
                        <h1>{{ movie.title }}</h1>
                        <div class="row">
                            <h2>({{ movie.original_title }})<h2>
                            <h2 class="rating">{{ movie.vote_average }}</h2>
                        </div>
                        <h3>{{ genres }}</h3>
                        <p>{{ plot }}</p>
                </div>
            </div>
        {% else %}
            <h1 align = "center">Could not fetch data from the database.</h1>
        {% endif %}
    </body>
</html>
